<app-banner title="Cours"></app-banner>
<table class="table table-hover table-modern">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Teacher Id</th>
            <th>Teacher Name</th>
            <th>Actions</th> <!-- عمود الأزرار -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cours of coursTab">
            <td>{{cours._id}}</td>
            <td>{{cours.name}}</td>
            <td>{{cours.description}}</td>
            <td>{{cours.duration}}</td>
            <td>{{cours.teacher._id}}</td>
            <td>{{cours.teacher.firstName}} {{cours.teacher.lastName}}</td>
            <td class="text-center actions-column">
                <button class="btn btn-edit" title="Edit">
                    <i class="bi bi-pencil-fill"></i> <!-- Bootstrap Icon -->
                </button>
                <button class="btn btn-delete" title="Delete" (click)="deleteCours(cours._id)">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </td>

        </tr>
    </tbody>
</table>