<header class="header fixed-top">
  <div class="container d-flex justify-content-between align-items-center">
    
    <!-- Logo -->
    <a routerLink="/" class="logo d-flex align-items-center">
      <i class="bi bi-buildings logo-icon"></i>
      <h1 class="sitename">NiceSchool</h1>
    </a>

    <!-- Navigation -->
    <nav class="navmenu">
      <ul [class.show]="mobileMenuOpen">
        <li *ngIf="isParent"><a routerLink="">Home</a></li>
        <li *ngIf="isStudent"><a routerLink="dashbordStudent">Dashboard Student</a></li>
        <li *ngIf="isTeacher"><a routerLink="dashbordTeacher">Dashboard Teacher</a></li>
        <li *ngIf="isAdmin"><a routerLink="dashbordAdmin">Dashboard Admin</a></li>
        <li *ngIf="isAdmin"><a routerLink="addCours">Add Cours</a></li>
        <li *ngIf="isAdmin"><a routerLink="addClasse">Add Classe</a></li>
        <li *ngIf="isNotCon"><a routerLink="signupStudent">Signup</a></li>
        <li *ngIf="isNotCon"><a routerLink="login">Login</a></li>
        <li *ngIf="!isNotCon">
          <a (click)="goToEdit()">
            <img *ngIf="user.role=='student'" [src]="'http://localhost:3000/images/' + user.photo" class="user-photo">
            Hi! {{user.fName}} {{user.lName}}
          </a>
        </li>
        <li *ngIf="!isNotCon"><a (click)="logout()" class="logout-btn">Logout</a></li>
      </ul>

      <!-- Mobile toggle -->
      <i class="mobile-nav-toggle bi bi-list" (click)="toggleMobileMenu()"></i>
    </nav>
  </div>
</header>
